streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-classic
pypdf
pinecone-client
langchain-pinecone
sentence-transformers
python-dotenv
pymupdf
pytesseract
pillow
protobuf<4.0.0
numpy
paddlepaddle
paddleocr
langgraph
fastapi
uvicorn
python-multipart

